.header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  padding: 2%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2%;
  width: 5%;
}
